name: Test

on: [push, pull_request]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    env:
      USING_COVERAGE: '3.10'
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "${{ matrix.python-version }}"
        cache: pip
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        make install-test
    - name: Restore pytest cache
      uses: actions/cache@v4
      with:
        path: .pytest_cache
        key: pytest-cache-${{ github.ref }}-${{ matrix.python-version }}
        restore-keys: |
          pytest-cache-refs/heads/main-${{ matrix.python-version }}
    - name: Run test
      run: |
        make test

    - name: Test coveralls - python ${{ matrix.python-version }}
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-${{ matrix.python-version }}
        parallel: true
